@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 1756 */

.navigation {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 27px 5% 0 5%;
}
.navigation__elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.d{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}
.navigation__logo_name {
    width: 275px;
    display: flex;
    align-items: center;
}
.navigation__logo{
    display: inline-block;
    width: 59px;
    height: 67px;
    margin-right: 5px;
}
.navigation_main_text {
    width: 208px;
    display: inline-block;
    height: auto;
}
.navigation_main_text1 {
    display: block;
    width: 208px;
    height: auto;

    color: #333333;
    font-family: 'Rubik';
    font-size: 27px;
}
.navigation_main_text2 {
    display: block;
    color: #000000;
    font-family: "Rubik - Medium";
    font-size: 13.9px;
    letter-spacing: 1.31px;
    text-transform: uppercase;
}
.arrow {
    width: 74px;
    margin: auto;
}

.btn_navigation {
    display: flex;
    width: 260px;
    top: -23px;
    position: relative;
    height: 43px;
    background: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.btn_navigation_txt {
    width: 178px;
    height: 14px;
    color: #ffffff;
    font-family: 'Rubik';
}
.faceb{
    width: 9px;
    height: 18px;
    color: #ffffff;
}
.ff{
    display: flex;
    width: 200px;
    align-items: center;
    margin: auto;
}
.back1_mest{

}
.back11{
    padding: 0 0 0 0;
    width: 786px;
    height: 990px;
    background-image: url("image/1back.png");
}


.wrapper{
    width: 1090px;

}
.second {
    width: 543px;
    height: auto;
    padding: 60px 0 0 0;
    margin-bottom: 160px;
}
.second__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 0 30px 0;
}
.second__text_h1 {
    width: 543px;
    color: #000000;
    font-family: 'Rubik';
    font-size: 34px;
    padding: 0 0 40px 0;
}
.second__text_lil {
    
}
.second__text_lil_time {
    font-family: "Rubik";
    font-size: 32px;
    opacity: 0.8;
    text-align: center;
}
.steps1-2 {
    width: 290px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0 32px 0;
} 
.steps_G{
    display: flex;
    width: 107px;
    align-items: center;
    cursor: pointer;

}
.steps {
    height: auto;
    width: 137px;
    display: flex;
    align-items: inherit;
    cursor: pointer;
}
.active{
    
}
.activeBl{
    display: block;
}
.first_step_back1 {
    border-radius: 50%;
    width: 55px;
    opacity: 0.5;
    height: 55px;
    background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);        display: flex;
    margin: auto;
    align-items: center;
}
.first_step_back2 {
    border-radius: 50%;
    width: 55px;
    opacity: 0.3;
    height: 55px;
    background: rgb(130, 130, 130);
    display: flex;
    margin: auto;
    align-items: center;
}
.first_step_front1 {
    border-radius: 50%;
    width: 39px;
    display: flex;
    position: relative;
    opacity: 1;
    left: -46.5px;
    margin: auto;
    align-items: center;
    height: 39px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
}
.first_step_front2 {
    border-radius: 50%;
    width: 39px;
    display: flex;
    position: relative;
    opacity: 1;
    left: -46.5px;
    margin: auto;
    align-items: center;
    height: 39px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(-30deg, #a6a6a6 0%, #d6d6d6 100%);
}
.step1_txt1 {
    display: flex;
    width: 43px;
    height: 15px;
    left: -20px;
    color: #6a54b4;
    position: relative;
    font-family: 'Rubik';
    font-size: 20px;
    text-transform: uppercase;

}
.step1_txt2 {
    display: flex;
    width: 43px;
    height: 15px;
    left: -20px;
    color: #b4b3b3;
    position: relative;
    font-family: 'Rubik';
    font-size: 20px;
    text-transform: uppercase;

}
.step2_txt {
}

.singup {
    width: 478px;
    height: auto;
    margin: auto;
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
}
.inpt{
    width: 368px;
    height: 52px;
    padding: 13px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #dadada;
    background-color: #ffffff;
    margin: auto;
    display: block;
}
.inpt:focus{
    border: none;
}
.singup__inpt{
    padding: 0 0 15px 0;
}
.singup__block {

}
.inpt_bl{
    padding: 0 0 30px 0;
}
.singup__txt_block{
    padding: 45px 0 35px 0;

}
.singup__txt {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.calculator {
    width: 478px;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
}
.calculator_main_txt {
    display: flex;
    margin-bottom: 25px;
}
.calculator_main_txt-p {
    width: 282px;
    height: auto;
    padding: 40px 0 0 0;
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-family: "Rubik";
    font-size: 22px;
}
.calc_cum {
    width: 368px;
    display: flex;
    height: 40px;
    margin: auto;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 0 10px 10px 10px;
}
.box_calc {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.numb {
    
}
.numb2 {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: baseline;
    color: #ffffff;
    font-family: "Rubik";
}
.calc_cum_numb1 {
}
.calc_time {
    width: 368px;
    display: flex;
    height: 40px;
    margin: auto;
    background-color: #ffffff;
    margin-bottom: 0px;
    
}
.box_calc {
    display: flex;
}
.uan {
    
}
.sum_numb_txt {
    color: #959595;
    font-family: "Rubik";
    font-size: 12px;

}
.sum_numb_summ {
    color: #000000;
    font-family: "Rubik";
    font-size: 16px;
    line-height: 20px;
}

.uan_txt {
    color: #959595;
    font-family: "Rubik";
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
}

.calc_cum_numb2 {
}
.credit_cost_txt {
}
.credit_cost_numb {
    color: #FFF;
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 500;
}
.credit_monye_bl{
    display: flex;
    align-items: baseline;

}
.credit_prozent {
    display: flex;
    width: 368px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 21px;
    align-items: baseline;
}
.credit_back {
    display: flex;
    width: 368px;
    margin: auto;
    margin-bottom: 33px;
    justify-content: space-between;
    align-items: baseline;
}
.btn_accept {
    display: flex;
    margin: auto;
    width: 358px;
}
.btn_accept_clr {
    cursor: pointer;
    margin-bottom: 44px;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(to top, #c40a5d 0%, #fb338c 100%);
}
.btn_accept_txt {
    width: 189px;
    height: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: "Rubik";
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    display: flex;
    justify-content: center;
}
.grn{
    margin-left: 5px;
    font-family: "Rubik";
    color: #ffffff;
}
/* .scnd{
    width: 1090px;
    margin: auto;
    display: flex;
} */

.credit_cost_txt {
    font-family: "Rubik";
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    align-items: baseline;
    line-height: 30px;
}
.second_phone_side {
    display: flex;
    padding: 36px 0 0 0;
}
.phone_iphone {
}
.phon{
    display: flex;
    position: absolute;
    top: 100px;
    right: 50px;
}
.phone_img {
    background: url(image/2-layers1.png);
    width: 764px;
    border-radius: 50px;
    height: 836px;
    background-repeat: no-repeat;
}
.scnd {
    margin: auto;
    width: 1090px;
}
.cart_img {
}

.img{
    float: right;
    display: flex;
    width: 700px;
    border-bottom-left-radius: 50px;
    height: 990px;
    background-image: url(image/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.best {
    margin: auto;
    padding: 0 10% 91px 10%;
}
.best__text {
    display: flex;
    margin-bottom: 35px;
}
.best__text-h1 {
    text-align: center;
    font-size: 35px;
    font-family: "Rubik";
    margin: auto;
}
.best__blocks {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.best__blocks_miniblick {
}
.best__back {
    width: 100px;
    height: 100px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 50%;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__back-img {
    background-image: url(image/f_25.png);
    width: 49px;
    height: 52px;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__back-img2 {
    background-image: url(image/f_26.png);
    width: 56px;
    height: 56px;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__back-img3 {
    background-image: url(image/f_27.png);
    width: 59px;
    height: 42px;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__blocks_miniblick-text {
    width: 173px;
    height: 43px;
    color: #000000;
    font-family: "Rubik";
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top:20px;
}
.back-arrow {
    width: 74px;
    height: 41px;
    background-image: url(image/arrow.png);
}


.recoment {

    margin-bottom: 135px;

}
.recoment_img{
    border-top-left-radius: 50px;
    height: 500px;
    border-bottom-left-radius: 50px;
    width: 90%;
    float: right;  
    background-image: url(image/Header_Startseite.png), linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.back_img_recoment {
}
.recoment_main {
    padding: 80px 0 0 0;
}
.recoment_maintxt {
    width: 766px;
    color: #ffffff;
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}
.line {
    width: 134px;
    margin: auto;
    height: 3px;
    margin-top: 34px;
    margin-bottom: 35px;
    background-color: #ffffff;
}
.recoment__txt {
    margin-bottom: 12px;
    display: flex;
    align-items: baseline;
    top: 5px;
    position: relative;
}
.back_o {
    margin-right: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    display: flex;
    align-items: baseline;
}
.bl{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 5px;
    position: relative;
}
.front_o {
    width: 10px;
    height: 10px;
    left: -63%;
    position: relative;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    align-items: center;
    display: flex;
    margin: auto;
}
.recoment_maintxt_lil {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
}
.time_rec {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 670px;
    margin: auto;
    padding: 30px 0 0 0;
}
.time_rec1 {
    width: 670px;
    height: 23px;
    color: #ffffff;
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 500;
}
.rec{
    width: 830px;
    margin: auto;
    padding: 0 0 75px 0;
}



.whu {
    width: 1090px;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 570px;
}
.why_txt {
    margin: auto;
    text-align: center;
    margin-bottom: 35px;
}
.why_txt_h1 {
    color: #000000;
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}
.why_block {
    display: flex;
}
.why_block_img {
    background-image: url(image/3-layers.png);
    width: 358px;
    height: 355px;
}
.why_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 750px;
    height: 400px;
    align-content: space-between;
}
.why_blocks1 {
    width: 215px;
    height: 145px;
    margin-bottom: 35px;
}
.baxk_o {
    width: 100px;
    display: flex;
    margin: auto;
    height: 100px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.baxk_o_img1 {
    width: 54px;
    height: 54px;
    opacity: 0.8;
    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
    background-image: url(image/Фигура_33.png);
}
.why_blocks1_txt {
    color: #000000;
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.baxk_o_img2 {
    width: 50px;
    height: 51px;
    opacity: 0.8;
    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
    background-image: url(image/Фигура_31.png);
}

.baxk_o_img3 {
    width: 42px;
    height: 54px;
    opacity: 0.8;
    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
    background-image: url(image/Фигура_29.png);
}

.baxk_o_img4 {
    width: 54px;
    height: 37px;
    opacity: 0.8;
    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
    background-image: url(image/Фигура_30.png);
}

.baxk_o_img5 {
    width: 43px;
    height: 53px;
    opacity: 0.8;
    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
    background-image: url(image/Фигура_32.png);
}

.baxk_o_img6 {
    width: 52px;
    height: 52px;
    opacity: 0.8;
    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
    background-image: url(image/Фигура_34.png);
}


.ffff{
    width: 1090px;
    margin: auto;
    display: flex;
    margin-top: 39px;
    position: relative;
}
.steps5 {
    display: flex;
}
.steps5_back {
    margin-left: 40px;
}
.steps5_img_block {
    height: 501px;
    background-image: url(image/55419076_m.png),linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%) ;
    width: 90%;
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.steps5_phone {

}
.steps5_phone_img {
    width: 411px;
    height: 462px;
    background: url(image/iPhone_Xs_Max.png);
    margin-left: -40px;
}
.secnd_step {
    margin-left: 40px;
}
.steps_txt {
    margin-top: 110px;
    margin-bottom: 80px;
}
.credit_cost{
    display: flex;
    width: 368px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 21px;
    align-items: baseline;
}
.steps_txt_h1 {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}
.steps5_steps {
}
.steps5_steps_img {
    background: url(image/21-layers.png);
    width: 737px;
    height: 135px;
}


* {box-sizing: border-box;}
body {
	margin:0;
	height:100vh;
	font-family: Tahoma,"sans-serif";
}	

/* slider обертка */
.slider {
	position: relative;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

/*Окно со слайдами*/
.slider-content {
	position: relative;		
	width: 100%;
}

/*Контейнер для слайдов (передвигаем)*/
.slider-content-wrapper {
	display: flex;
	height:140px;
	transition: transform 0.5s ease-in-out;
}

/*Слайд*/
.slider-content__item {
	flex: 1 0 100%;
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-size: 100px;
	color: rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .image-1 {background-color: #963484;}
.image-2 {background-color: #3066BE;}
.image-3 {background-color: #60AFFF;}
.image-4 {background-color: #28C2FF;}
.image-5 {background-color: #2AF5FF;}
.image-6 {background-color: navy;} */


/* Блок с контролами */
.slider-controls {
	padding:20px;
	text-align: center;
}

/* Блок с контролами внутри окна */

/* Arrows */
.prev-arrow, .next-arrow {
	position:absolute;
    top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	color:rgba(0,0,0, 0.3);
	width: 20px;
	transition: all 0.3s;
}
.prev-arrow {
    left: 00px;
    height: 62px;
    width: 62px;
    background-image: url(image/1-layers.png);
}
.next-arrow {
    right: 00px;
    height: 62px;
    width: 62px;
    background-image: url(image/2-layers.png);
}

.prev-arrow:hover,
.next-arrow:hover {
	cursor: pointer;
	color:rgba(0,0,0, 0.7);
}

/* Dots */
.dots {
	position:absolute;
	display: flex;
	left:50%;
	transform: translateX(-50%);
	bottom:10%;
}

.dot {
	cursor: pointer;
	width: 8px;
	height: 8px;
	margin-right: 4px;
	/* background-color: rgba(0,0,0, 0.3); */
	border-radius: 50%;
    transition:all 0.3s;
    border: 1px solid #4577be ;
}

.dot:last-child {margin-right: 0;}
.dot:hover {background-color: #fff;}
.dot--active {
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
}

/* Buttons */
button {
	cursor: pointer;
	margin-right: 8px;
	border:none;
	border-radius: 4px;
	padding:10px;
	background-color: #3066BE;
	color:#FFF;
	transition: all 0.5s;
}
button:last-child {margin-right: 0;}
button:hover {background-color: #60AFFF;}
button:focus {outline: none;}

/* Mods */
.disabled {
	background-color: #DCCFCF;
	color:#B0A8A8;
	cursor: default;
	pointer-events:none;
}

.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}

.sldr {
    display: flex;
    width: 1090px;
    margin: auto;
    padding: 0px 0 90px 0;
}
.slid_block_items{
    display: flex;
    width: 925px;
    justify-content: space-between;
    align-items: baseline;
}
.slid-item1 {
    
}
.slid-item-a {
    width: 222px;
    height: 60px;
    color: #7a67bc;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.slid-item-txt {
    font-family: "Rubik Medium";
    font-weight: 300;
    font-size:12px;
    color: #000000;
}
.offer{
    margin: auto;
    width: 1090px;
    padding: 80px 0 0 0;
}
.offer_text_area {
}
.offer_txt {
    text-align: center;
    color: #000000;
    font-family: "Rubik";
    font-size: 33px;
    font-weight: 400;
    position: initial;
    text-transform: uppercase;
}
.gray_block {
    width: 100%;
    height: auto;
    top: 50px;
    position: relative;
    background-color: #e7e6eb;
    padding: 0 0 95px 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.gray_block_wrap {
    width: 1090px;
    height: auto;
    margin: auto;
}
.trebov_bloks {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 40px 0 ;
}
.treb {
    width: 450px;
}
.treb_h1 {
    color: #000000;
    font-family: "Rubik";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 50px 0 25px 0;
    margin-left: 35px;
}
.treb_bl {
    width: 450px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 31px 35px 30px 35px;
}
.treb_block {
    display: flex;
    margin-bottom: 22px;
    width: 98%;
}
.treb_lil_o2 {
    width: 10px;
    height: 10px;
    background-color: #fb338b;
    border-radius: 50%;
        margin-right: 15px;
}
.treb_lil_o {
    width: 10px;
    height: 10px;
    background-color: #fb338b;
    border-radius: 50%;
    margin-right: 15px;
}
.treb_txt {
    color: #000000;
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 300;
    width: 90%;
}
.terms {
    overflow: scroll;
    overflow-x:hidden;
    height: 139px;
}
.terms_h1 {
}
.terms_bl {
    width: 600px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 31px 35px 30px 35px;
}
.terms_txt {

}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fb338b;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fb338b;
}
.posl{
    width: 1090px;
}
.posl_bl{
    overflow: scroll;
    overflow-x: hidden;
    height: 250px;
}
.posl12{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 31px 35px 30px 35px;
}

.last {
    width: 100%;
    height:303px;
    background-image: linear-gradient(to top, #6958ad 0%, #487eab 100%);
}
.last_wrap{
    width: 1090px;
    margin: auto;
    padding: 90px 0 0 0;
}
.navigation__logo_name_bl{
    margin: auto;
    width: 275px;
}
.btn_navigation_bl {
    margin: auto;
    width: 260px;
    padding: 30px 0 25px 0;
}
.btn_navigation_bl1 {
    margin: auto;
    width: 260px;
    padding: 30px 0 25px 0;
}
.btn_navigation1{
    display: flex;
    width: 260px;
    top: -23px;
    position: relative;
    height: 43px;
    background: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.line_last {
    height: 1px;
    background-color: #ffffff;
    opacity: 0.2;
}
.last_txt {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 17px 0 15px 0;
}
.stepa_block2 {
    display: none;
}

@media screen and (max-width: 1600px) {
    .img {
        float: right;
        display: flex;
        width: 45%;
        border-bottom-left-radius: 50px;
        height: 990px;
        background-image: url(image/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    
    .phone_img {
        background: url(image/iPhone_Xs_Max12.png);
        width: 400px;
        border-radius: 50px;
        border-bottom-left-radius: 24%;
        height: 754px;
        position: relative;
        left: -16px;
        display: flex;
        background-repeat: no-repeat;
    }
  }
  @media screen and (max-width: 1400px) {
    .steps5_phone_img {
        width: 411px;
        height: 462px;
        background: url(image/iPhone_Xs_Max.png);
        /* margin-left: -7px; */
    }
    .secnd_step {
        margin-left: 10px;
    }
  }
  @media screen and (max-width: 1300px) {
    .stepa_block2_top {
        width: 328px;
        margin: auto;
    }
    .steps5_phone_txt2_p {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
        line-height: 18px;
        margin-bottom: 0;
        padding: 0% 0 15% 0;
    }
    .ffff {
        width: 90%;
        margin: auto;
        display: flex;
        margin-top: 39px;
        position: relative;
    }
    .stepa_block2_top_txt {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
    .stepa_block2 {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .steps5_numb_img2 {
        width: 32px;
        margin-top: 30px;
        height: 320px;
        margin-left: 9%;
        display: inline-block;
        background-image: url(image/11-layers.png);
    }
    .stepa_block2_top_line {
        width: 134px;
        height: 3px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .steps5_phone_img2 {
        width: 410px;
        height: 462px;
        background: url(image/iPhone_Xs_Max.png);
        margin-left: -50px;
    }
    .steps5_phone_txt2 {
        display: inline-block;
        margin-left: 40px;
        width: 370px;
        padding: 6px 15% 0 0px;
    }
    .secnd_step{
        display: none;
    }
    .stepa_block{
        display: none;
    }
    .steps5_img_block {
        height: auto;
        background-image: url(image/55419076_m.png),linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
        width: 90%;
        float: left;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .stepa_block2_btm {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
  }
  @media screen and (max-width: 1120px) {
    .why_block_img {
            background-image: url(image/3-layers.png);
        width: 358px;
        height: 355px;
        display: flex;
        margin-top: 7%;
    }
    .why_blocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 500px;
        height: 540px;
        align-content: space-between;
    }
    .sldr {
        display: flex;
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
  }
  @media screen and (max-width: 1115px) {
    .trebov_bloks {
        justify-content: space-between;
        align-items: baseline;
        padding: 0 0 40px 0;
        display: block;

    }
    .posl {
        width: 800px;
        margin: auto;
    }
    .treb_bl {
        width: 800px;
        height: auto;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 10px 35px;
    }
    .treb {
        width: 800px;
        margin: auto;
    }
    .ssd{
        width: 800px;
        margin: auto;
    }
    .terms_bl {
        width: 800px;
        height: 200px;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
    }
  }
  @media screen and (max-width: 1100px) {
    .btn_navigation {
        display: flex;
        width: 260px;
        top: -23px;
        position: relative;
        display: none;
        height: 43px;
        background: none;
        justify-content: space-between;
        align-items: baseline;
        border-radius: 4px;
        border: 1px solid #ffffff;
    }
    .arrow {
        width: 74px;
        margin: auto;
        display: none;
    }
  }
  @media screen and (max-width: 1110px) {
    .last_wrap {
        width: 100%;
        margin: auto;
        padding: 90px 0 0 0;
    }
    .gray_block_wrap {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .scnd {
        width: 100%;
        margin: auto;
    }
    .whu {
        width: 100%;
        margin: auto;
        margin-bottom: 120px;
        margin-top: 570px;
    }
    .offer {
        width: 100%;
        margin: auto;
        padding: 80px 0 0 0;
    }
    .offer {
        width: 100%;
        margin: auto;
        padding: 80px 0 0 0;
    }
    .last_wrap {
        width: 100%;
        margin: auto;
        padding: 90px 0 0 0;
    }
  }
  @media screen and (max-width: 1085px) {
    .steps5_phone_img2 {
        width: 410px;
        height: 462px;
        background: url(image/iPhone_Xs_Max.png);
        margin-left: -140px;
    }
  }
  @media screen and (max-width: 1080px) {
    .steps5_phone_txt2 {
        display: inline-block;
        margin-left: 40px;
        width: 340px;
        padding: 6px 15% 0 0px;
    }
  }
  @media screen and (max-width: 1005px) {
    .img {
        float: right;
        display: flex;
        width: 30%;
        border-bottom-left-radius: 50px;
        height: 990px;
        background-image: url(image/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .calculator {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .calculator_main_txt {
        display: flex;
        margin-bottom: 25px;
        width: 80%;
        margin: auto;
        padding: 0 0 25px 0;
    }
    .calc_cum {
        width: 80%;
        display: flex;
        height: 40px;
        margin: auto;
        background-color: #ffffff;
        margin-bottom: 0px;
    }
    .calc_time {
        width: 80%;
        display: flex;
        height: 40px;
        margin: auto;
        background-color: #ffffff;
        margin-bottom: 0px;
    }
    .credit_cost {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 21px;
        align-items: baseline;
    }
    .credit_prozent {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    .rec {
        width: 90%;
        margin: auto;
        padding: 0 0 75px 0;
    }
    .phone_img {
        background-image: url(image/iPhone_Xs_Max12.png);
        width: 358px;
        border-radius: 50px;
        border-bottom-left-radius: 24%;
        height: 754px;
        position: relative;
        left: -16px;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .second {
        width: 443px;
        height: auto;
        padding: 60px 0 0 0;
        margin-bottom: 160px;
        margin-left: 5%;
    }
    .credit_back {
        display: flex;
        width: 80%;
        margin: auto;
        margin-bottom: 33px;
        justify-content: space-between;
    }
    .singup {
        width: 440px;
        height: auto;
        margin: auto;
        display: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .second__text_lil {
        width: 400px;
        margin: auto;
    }
    .second__text_lil_time {
        font-size: 26px;
        text-align: center;
        font-family: "Rubik";
        opacity: 0.8;
        text-align: center;
    }
    .second__text_h1 {
        width: 400px;
        color: #000000;
        font-family: 'Rubik';
        font-size: 33px;
        margin: auto;
        padding: 0 0 40px 0;
        text-align: center;
    }
    .second__text {
        width: 440px;
        display: flex;
        flex-direction: column;
        padding: 50px 0% 30px 0%;
    }
  }
  
  @media screen and (max-width: 895px) {
    .phon {
        display: flex;
        position: absolute;
        top: 100px;
        right: 50px;
        margin-right: -40px;
    }
    .ssd {
        width: 90%;
        margin: auto;
    }
    .posl {
        width: 90%;
        margin: auto;
    }
    .posl12 {
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
        width: 100%;
    }
    .treb {
        width: 90%;
        margin: auto;
    }
    .treb_bl {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 10px 35px;
    }
    .terms_bl {
        width: 100%;
        height: 200px;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
    }
    .recoment_maintxt {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 35px;
        width: 90%;
        font-weight: 500;
        margin: auto;
        text-align: center;
    }
  }
  @media screen and (max-width: 861px) {
    .why_blocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 60%;
        height: 540px;
        align-content: space-between;
        margin: auto;
        margin-top: 60px;
    }
    .why_block_img {
        background-image: url(image/3-layers.png);
        width: 358px;
        height: 355px;
        display: flex;
        margin-top: 7%;
        margin: auto;
    }
    .why_block {
        display: block;
        width: 90%;
        margin: auto;
    }
  }
  @media screen and (max-width: 1050px) {
    .slid_block_items {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        align-items: baseline;
    }
    .steps5_phone_img2 {
        width: 164px;
        height: 453px;
        background: url(image/iPhone_Xs_Maxlil.png);
        margin-left: -50px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ffff {
        width: 100%;
        margin: auto;
        display: flex;
        margin-top: 39px;
        position: relative;
    }
    .stepa_block2 {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .stepa_block2_btm {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .steps5_phone_txt2_p {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
        line-height: 18px;
        margin-bottom: 0;
        padding: 0% 0 15% 0;
    }
    .steps5_phone_txt2 {
        display: inline-block;
        margin-left: 40px;
        width: 370px;
        padding: 6px 15% 0 0px;
    }
  }
  

  @media screen and (max-width: 810px) {
    .time_rec {
        display: block;
        justify-content: space-between;
        align-items: baseline;
        width: 90%;
        margin: auto;
        padding: 30px 0 0 0;
    }
    .time_rec1 {
        width: 270px;
        height: 23px;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 20px;
        font-weight: 500;
    }
  }
  @media screen and (max-width: 850px) {
    .recoment_main {
        padding: 45px 0 0 0;
        width: 90%;
        margin: auto;
    }
    .credit_cost {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    .calc_time {
        width: 80%;
        display: flex;
        height: 40px;
        margin: auto;
        background-color: #ffffff;
        margin-bottom: 0px;
    }
    .credit_back {
        display: flex;
        width: 80%;
        margin: auto;
        margin-bottom: 33px;
        justify-content: space-between;
    }
    .credit_prozent {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    .recoment_maintxt {
        width: 90%;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 35px;
        font-weight: 500;
        margin: auto;
        text-align: center;
    }
    .singup__block {
        width: 90%;
        margin: auto;
    }  
    .inpt {
        width: 90%;
        height: 52px;
        padding: 13px;
        font-size: 16px;
        border-radius: 3px;
        border: 2px solid #dadada;
        background-color: #ffffff;
        margin: auto;
        display: block;
    }
    .back-arrow{
        display: none;
    }
    .btn_accept {
        display: flex;
        margin: auto;
        width: 90%;
    }
    
    .second__text_h1 {
        width: 100%;
        color: #000000;
        font-family: 'Rubik';
        font-size: 24px;
        margin: auto;
        padding: 0px 0 20px 0;
        text-align: center;
    }
    .second__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0% 30px 0%;
    }
    .second__text_lil {
        width: 100%;
        margin: auto;
    }
    .second {
        width: 50%;
        height: auto;
        padding: 60px 0 0 0;
        margin-bottom: 160px;
        margin-left: 5%;
    }
    .second__text_lil_time {
        font-size: 22px;
        font-family: "Rubik";
        opacity: 0.8;
        text-align: center;
    }
    .singup__txt {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }.second_phone_side {
        display: flex;
        padding: 0px 0 0 0;
        margin-top: -60px;
    }
    .phone_img {
        background-image: url(image/2-layrs.png);
        width: 275px;
        border-radius: 50px;
        border-bottom-left-radius: 24%;
        height: 754px;
        position: relative;
        left: 0;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .singup {
        width: 100%;
        height: auto;
        margin: auto;
        display: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .steps1-2 {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 32px 0 32px 0;
    }
    .img {
        float: right;
        display: flex;
        width: 30%;
        border-bottom-left-radius: 50px;
        height: 890px;
        background-image: url(image/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
  }
  
.nav_cart {
    display: none;
}
.nav_cart_img {
    width: 122px;
    background-image: url(image/cart_img.png);
    height: 79px;
}
  @media screen and (max-width: 755px) {
    .slid-item2{
        display: none;
    }  
  }
  @media screen and (max-width: 700px) {
    .steps5_phone_txt2 {
        display: inline-block;
        margin-left: 40px;
        width: 300px;
        padding: 6px 15% 0 0px;
    }
  }
  @media screen and (max-width: 670px) {
    .phon {
        display: none;
        position: absolute;
        top: 100px;
        right: 50px;
        margin-right: -40px;
    }
    .calculator_main_txt-p {
        width: 282px;
        height: auto;
        padding: 40px 0 0 0;
        color: #ffffff;
        margin: auto;
        text-align: center;
        font-family: "Rubik";
        font-size: 16px;
    }
    .recoment {
        margin-bottom: 670px;
    }.recoment_img {
        border-top-left-radius: 50px;
        height: auto;
        border-bottom-left-radius: 50px;
        width: 90%;
        float: right;
        background-image: url(image/Header_Startseite.png), linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
    }
    .whu {
        width: 100%;
        margin: auto;
        margin-bottom: 120px;
        margin-top: 0;
    }
    .calculator {
        width: 90%;
        height: auto;
        display: block;
        margin: auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .sldr {
        display: flex;
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .why_blocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 540px;
        align-content: space-between;
        margin: auto;
        margin-top: 60px;
    }
    .best {
        margin: auto;
        padding: 1100px 10% 91px 10%;
        display: block;
    }
    .navigation {
        display: flex;
        position: absolute;
        width: 100%;
        padding: 0px 5% 0 5%;
    }
    .img {
        float: right;
        display: flex;
        width: 95%;
        position: relative;
        top: 78px;
        border-bottom-left-radius: 50px;
        height: 1010px;
        border-top-left-radius: 50px;
        background-image: url(image/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .second__text {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 100px 0% 30px 0%;
    }
    .singup {
        width: 90%;
        height: auto;
        margin: auto;
        display: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .nav_cart {
        display: flex;
        top: 20px;
        position: relative;
    }
    .second {
        width: 95%;
        height: auto;
        position: absolute;
        padding: 60px 0 0 0;
        margin-bottom: 160px;
        margin-left: 5%;
    }
    .back-arrow {
        width: 74px;
        display: none;
        height: 41px;
        background-image: url(image/arrow.png);
    }
    .second__text_h1 {
        width: 100%;
        font-family: 'Rubik';
        font-size: 24px;
        margin: auto;
        padding: 0px 0 20px 0;
        text-align: center;
        color: #fff;
    }
    .second__text_lil_time {
        font-size: 22px;
        color: #fff;
        font-family: "Rubik";
        opacity: 0.8;
        text-align: center;
    }
    .recoment_img {
        border-top-left-radius: 50px;
        height: auto;
        border-bottom-left-radius: 50px;
        width: 90%;
        float: right;
        background-image: url(image/Header_Startseite.png), linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .recoment {
        margin-bottom: 0px;
    }
  }
  @media screen and (max-width: 600px) {
    .best__back {
        width: 60px;
        height: 60px;
        box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 50%;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }.best__text-h1 {
        text-align: center;
        font-size: 22px;
        font-family: "Rubik";
        margin: auto;
    }
    .best__back-img {
        background-image: url(image/Фигура_25lil.png);
        width: 28px;
        height: 32px;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__back-img2 {
        background-image: url(image/Фигура_26lil.png);
        width: 35px;
        height: 34px;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__back-img3 {
        background-image: url(image/Фигура_27lil.png);
        width: 36px;
        height: 26px;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__blocks_miniblick-text {
        width: 100%;
        height: 43px;
        color: #000000;
        font-family: "Rubik";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
    }
    .best__blocks_miniblick {
        width: 84px;
        height: auto;
    }.back-arrow {
        background-image: url(image/arrow3.png);
        width: 38px;
        height: 21px;
        display: block;
    }
    
  }
  
  @media screen and (max-width: 550px) {
    .steps5_phone_txt2_p {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 15px;
        font-weight: 400;
        margin-top: 0;
        line-height: 18px;
        margin-bottom: 0;
        padding: 0% 0 22% 0;
    }
    .steps5_phone_txt2 {
        display: inline-block;
        margin-left: 40px;
        width: 200px;
        padding: 6px 15% 0 0px;
    } 
  }
  @media screen and (max-width: 480px) {
    .offer_txt {
        text-align: center;
        color: #000000;
        font-family: "Rubik";
        font-size: 17px;
        font-weight: 400;
        position: initial;
        text-transform: uppercase;
    }
    .navigation__logo_name {
        width: 220px;
        display: flex;
        align-items: center;
    }
    .navigation_main_text2 {
        display: block;
        color: #000000;
        font-family: "Rubik - Medium";
        font-size: 8.6px;
        letter-spacing: 1.31px;
        text-transform: uppercase;
    }
    .navigation_main_text {
        width: 150px;
        display: inline-block;
        height: auto;
    }
    .navigation_main_text1 {
        display: block;
        width: 100%;
        height: auto;
        color: #333333;
        font-family: 'Rubik';
        font-size: 18px;
    }
    .first_step_back2 {
        border-radius: 50%;
        width: 55px;
        opacity: 0.3;
        height: 55px;
        background: rgb(130, 130, 130);
        display: flex;
        margin: auto;
        align-items: center;
    }
    .first_step_back1 {
        border-radius: 50%;
        width: 55px;
        opacity: 0.5;
        height: 55px;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);        display: flex;
        margin: auto;
        align-items: center;
    }
    .first_step_front {
        border-radius: 50%;
        width: 19px;
        display: flex;
        position: relative;
        opacity: 1;
        left: -31.5px;
        margin: auto;
        align-items: center;
        height: 19px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .baxk_o {
        width: 77px;
        display: flex;
        margin: auto;
        height: 77px;
        box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .baxk_o_img1 {
        width: 42px;
        height: 42px;
        opacity: 0.8;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
        background-image: url(image/Фигура_33lil.png);
    }
    .why_blocks1_txt {
        color: #000000;
        font-family: "Rubik";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    .baxk_o_img3 {
        width: 32px;
        height: 42px;
        opacity: 0.8;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
        background-image: url(image/Фигура_29lil.png);
    }
    .why_blocks1 {
        width: 130px;
        height: 145px;
        margin-bottom: 35px;
    }
    .why_block_img {
        background-image: url(image/3-layerslil.png);
        width: 158px;
        height: 155px;
        display: flex;
        margin-top: 7%;
        margin: auto;
    }
    .why_txt {
        margin: auto;
        text-align: center;
        margin-bottom: 35px;
        padding: 50px 0 0 0;
    }
    .why_txt_h1 {
        color: #000000;
        font-family: "Rubik";
        font-size: 23px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .baxk_o_img2 {
        width: 39px;
        height: 40px;
        opacity: 0.8;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
        background-image: url(image/Фигура_31lil.png);
    }
    .baxk_o_img4 {
        width: 42px;
        height: 29px;
        opacity: 0.8;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
        background-image: url(image/Фигура_30lil.png);
    }
    .baxk_o_img5 {
        width: 34px;
        height: 41px;
        opacity: 0.8;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
        background-image: url(image/Фигура_32lil.png);
    }
    .baxk_o_img6 {
        width: 40px;
        height: 39px;
        opacity: 0.8;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
        background-image: url(image/Фигура_34lil.png);
    }
    .recoment_maintxt {
        width: 90%;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 500;
        margin: auto;
        text-align: center;
    }
    .time_rec1 {
        width: 270px;
        height: 23px;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 15px;
        font-weight: 500;
    }
    .why_txt {
        margin: auto;
        text-align: center;
        margin-bottom: 35px;
        padding: 100px 0 0 0;
    }
  }

  @media screen and (max-width: 408px) {
    .nav_cart {
        display: none;
        top: 20px;
        position: relative;
    }
    .navigation__logo_name {
        width: 202px;
        display: flex;
        align-items: center;
    }
    .stepa_block2_top {
        float: left;
        width: 100%;
    }
    .steps5_phone_img2 {
        width: 164px;
        height: 453px;
        background: url(image/iPhone_Xs_Maxlil.png);
        margin-left: -50px;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
    }
    .steps5_img_block {
        height: 530px;
        background-image: url(image/55419076_m.png),linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
        width: 90%;
        float: left;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .steps5_phone_txt2_p {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 13px;
        font-weight: 400;
        margin-top: 0;
        line-height: 18px;
        margin-bottom: 0;
        padding: 0% 0 22% 0;
    }
    .time_rec1 {
        width: 200px;
        height: 23px;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 15px;
        font-weight: 500;
    }
    .steps5_phone_txt2 {
        display: inline-block;
        margin-left: 40px;
        width: 190px;
        padding: 6px 15% 0 0px;
    }
    .treb_txt {
        color: #000000;
        font-family: "Rubik";
        font-size: 12px;
        font-weight: 300;
        width: 90%;
    }
  }

  @media screen and (max-width: 320px) {
    .recoment_maintxt {
        width: 90%;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 500;
        margin: auto;
        text-align: center;
    }
  }

.calc_bl{
    margin-bottom: 30px;
    width: 100%;
}
.slaid {
    display: block;
    margin: auto;
    width: 80%;
}
.slaiderInp{
    width: 98%;
}