@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- */

.navigation {
    position: absolute;
    width: 90%;
    padding: 27px 5% 0 5%;
}
.navigation__elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center
}
.d {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}
.navigation__logo_name {
    width: 275px;
    display: flex;
    align-items: center;
}
.navigation__logo {
    display: inline-block;
    width: 59px;
    height: 67px;
    margin-right: 5px;
}
.navigation_main_text {
    width: 208px;
    display: inline-block;
    height: auto;
}
.navigation_main_text1 {
    display: block;
    width: 208px;
    height: auto;

    color: #333333;
    font-family: 'Rubik';
    font-size: 27px;
}
.navigation_main_text2 {
    display: block;
    color: #000000;
    font-family: "Rubik - Medium";
    font-size: 13.9px;
    letter-spacing: 1.31px;
    text-transform: uppercase;
}
.arrowBtn {
    display: flex;
    top: -30px;
    width: 35%;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
}
.arrow {
    width: 74px;
    margin: auto;
}
.back1 {

}
.btn_navigation {
    display: flex;
    width: 260px;
    position: relative;
    height: 43px;
    background: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.ff {
    display: flex;
    width: 200px;
    align-items: center;
    margin: auto;

}
.btn_navigation_txt {
    width: 178px;
    height: 14px;
    color: #ffffff;
    font-family: 'Rubik';
    cursor: pointer;
}
.top{

}
.image{
    width: 100%;
    height: 500px;
    background-image: url(images/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.fab{
    font-weight: 400;
    color: #fff;
}
.image_bl{
    width: 100%;
    height: 400px;
    display: flex;

}
.blockcCalc_txt_bl{
    width: 70%;
    margin: auto;
    text-align: center;
}
.blockcCalc_h1{
    color: #ffffff;
    font-family: "Rubik";
    font-size: 35px;
    margin-bottom: 10px;

    text-transform: uppercase;
}
.blockcCalc_txt{
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    color: #fff;
    opacity: 0.65;
}
.calc_items{
    display: flex;
    justify-content: space-between;
    padding: 5% 0 0 0;
}
.btn_accept_clr {
    cursor: pointer;
    margin-bottom: 44px;
    display: flex;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(to top, #c40a5d 0%, #fb338c 100%);
}
.btn_accept{
}
.btn_accept_txt {
    width: 189px;
    height: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: "Rubik";
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    display: flex;
    justify-content: center;
}
/* -------- */

.items_bl {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 30px;
}
.items_bl1{
    top: 43px;
    position: relative;
}
.items_bl_txt_bl {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 40px 0 40px 0px;
}
.items_bl_txt {
}
.itms {
    width: 80%;
    margin: auto;
}


/* -------- */

.calc_bl{
    margin-bottom: 30px;
    width: 33%;
}
.calc_bl1{
    display: flex;
}
.slaid {
    display: block;
    margin: auto;
    width: 388px;
}
.slaiderInp{
    width: 100%;
    margin: auto;
}
.calc_cum {
    width: 368px;
    display: flex;
    height: 40px;
    margin: auto;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 0 10px 10px 10px;
}
.box_calc {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sum_numb_txt {
    color: #959595;
    font-family: "Rubik";
    font-size: 12px;

}
.sum_numb_summ {
    color: #000000;
    font-family: "Rubik";
    font-size: 21px;
    margin-top: 6px;
    line-height: 20px;
}
.uan_txt {
    color: #959595;
    font-family: "Rubik";
    font-size: 16px;
    margin-top: 7px;
    line-height: 40px;
    text-transform: uppercase;
}
.numb2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    color: #ffffff;
    font-family: "Rubik";
}

/* --------- */
.box1{
    margin-bottom: 20px;
}
.box {
    width: 98%;
    height: auto;
    border-radius: 3px;
    border: 1px solid #dadada;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.box_logo_block {
    width: 18%;
}
.box_logo_block_img {
    width: 200px;
    height: 79px;
}
.box_logo_stars_block {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.stars1 {
    width: 200px;
    height: 17px;
    display: flex;
    margin-right: 15px;
}
.star {
    font-size: 10px;
    width: 10px;
    padding: 0 0 0 10px;
    color: #f4d501;
    margin-right: 3px;
}
.ball {
}
.main_part {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_part_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    width: 68%;
}
.main_part_top_summ {  
    width: 130px;
}
.main_part_top_summ_txt {
    width: 127px;
    color: #000000;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 300;
}
.main_part_top_summ_bl{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
    margin-bottom: 10px;
}
.main_part_top_summ_bl2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 75%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.main_part_top_summ_bl3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.main_part_top_summ_numb {
    display: flex;
    color: #6a55b4;
    font-size: 25px;
    font-family: "Rubik";

}
.main_part_top_summ_numb_grn {
    display: flex;
    width: 30px;
    font-family: "Rubik";
    font-weight: 400;
}
.main_part_top_prozents {
}
.main_part_top_prozents_txt {
    width: 127px;
    color: #000000;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 300;
}
.main_part_top_prozents_numb {
}
.main_part_top_prozents_numb_grn {
}
.main_part_top_back {
}
.main_part_top_back_txt {
    width: 127px;
    color: #000000;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 300;
}
.main_part_top_back_numb {
}
.main_part_top_back_numb_grn {
}
.main_part_line {
    height: 1px;
    background-color: #dadada;
    margin: auto;
    width: 90%;
}
.main_part_bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    width: 68%;
}
.main_part_bottom_summ {
    width: 130px;
}
.main_part_bottom_summ_txt {
    width: 142px;
    color: #000000;
    font-family: "Rubik";
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: 5px;
}
.main_part_bottom_summ_numb {
    width: 142px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Rubik";
    line-height: 25px;
}
.last_block {
    width: 22%;
}
.last_block_proz {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.last_block_proz_box{
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
}

.last_block_proz_txt {
    color: #ffffff;
    font-size: 20px;
    height: auto;
    margin: auto;
    font-family: "Rubik";
}
.last_block_txt_box {
    display: flex;
    align-items: center;
}
.last_block_txt {
    color: #5e65ac;
    font-family: "Rubik";
    font-size: 16px;
}
.bnt {
    width: 100%;
    height: 49px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    background-image: linear-gradient(to top, #c40a5d 0%, #fb338c 100%);
}
.bnt_txt{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 500;
    margin: auto;
    width: 177px;
    line-height: 32px;
    text-transform: uppercase;
}

.isPopularDiv{
    width: 100%;
    border-radius: 50px;
    background: #6a55b4;
    height: 3px;
    top: 1px;
    display: flex;
    position: relative;
    align-items: center;
}
.isPopularP{
    height: 25px;
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-family: "Rubik";
    font-size: 16px;
    background-color: #6a55b4;
}

.AllusersDiv{
    width: 100%;
    border-radius: 50px;
    background: #e30000;
    height: 3px;
    top: 1px;
    display: flex;
    position: relative;
    align-items: center;
}
.AllusersP{
    height: 25px;
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-family: "Rubik";
    font-size: 16px;
    background-color: #e30000;
}

.fastCreditDiv{
    width: 100%;
    border-radius: 50px;
    background: #fa338b;
    height: 3px;
    top: 1px;
    display: flex;
    position: relative;
    align-items: center;
}
.fastCreditP{
    height: 25px;
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-family: "Rubik";
    font-size: 16px;
    background-color: #fa338b;
}

.recoment_img{
    border-top-left-radius: 50px;
    height: auto;
    border-bottom-left-radius: 50px;
    width: 90%;
    float: right;
    margin-top: 50px;
    background-image: url(images/Header_Startseite.png), linear-gradient(to top, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.back_img_recoment {

}
.recoment_main {
    padding: 80px 0 0 0;
    width: 70%;
    margin: auto;
}
.recoment_maintxt {
    color: #ffffff;
    width: 100%;
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}
.line {
    width: 134px;
    margin: auto;
    height: 3px;
    margin-top: 34px;
    margin-bottom: 35px;
    background-color: #ffffff;
}
.rec{
    width: 60%;
    margin: auto;
    padding: 0 0 75px 0;
}
.recoment__txt {
    margin-bottom: 12px;
    display: flex;
    align-items: baseline;
    top: 5px;
    position: relative;
}
.bl{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 5px;
    position: relative;
}
.back_o {
    margin-right: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    display: flex;
    align-items: baseline;
}
.front_o {
    width: 10px;
    height: 10px;
    left: -63.5%;
    position: relative;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    align-items: center;
    display: flex;
    margin: auto;
}
.recoment_maintxt_lil {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
}
.time_rec {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 60%;
    margin: auto;
    padding: 30px 0 0 0;
}
.time_rec1 {
    height: 23px;
    color: #ffffff;
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 500;
}

.best {
    margin: auto;
    padding: 600px 10% 91px 10%;
    display: block;
}
.best__text {
    display: flex;
    width: 100%;                                                         
    margin-bottom: 35px;
}
.best__text-h1 {
    text-align: center;
    font-size: 35px;
    font-family: "Rubik";
    margin: auto;
}
.best__blocks {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.best__blocks_miniblick {
}
.best__back {
    width: 100px;
    height: 100px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 50%;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__blocks_miniblick-text {
    width: 173px;
    height: 43px;
    color: #000000;
    font-family: "Rubik";
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top:20px;
}
.back-arrow {
    width: 74px;
    height: 41px;
    background-image: url(images/arrow2.png);
}
.best__back-img {
    background-image: url(images/Фигура_25.png);
    width: 49px;
    height: 52px;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__back-img2 {
    background-image: url(images/Фигура_26.png);
    width: 56px;
    height: 56px;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}
.best__back-img3 {
    background-image: url(images/Фигура_27.png);
    width: 59px;
    height: 42px;

    display: flex;
    opacity: 1;
    margin: auto;
    align-items: center;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fb338b;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fb338b;
}
.gray_block {
    width: 100%;
    height: auto;
    top: 50px;
    position: relative;
    background-color: #e7e6eb;
    padding: 0 0 95px 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.gray_block_wrap {
    width: 80%;
    height: auto;
    margin: auto;
}
.trebov_bloks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 40px 0 ;
}
.treb {
    width: 40%;
}
.treb_h1 {
    color: #000000;
    font-family: "Rubik";
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    padding: 50px 0 25px 0;
    margin-left: 35px;
}
.treb_bl {
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 31px 35px 30px 35px;
}
.treb_block {
    display: flex;
    margin-bottom: 22px;
    width: 98%;
}
.treb_lil_o {
    width: 10px;
    height: 10px;
    background-color: #fb338b;
    border-radius: 50%;
    margin-right: 15px;
    
}
.treb_txt {
    color: #000000;
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 300;
    width: 90%;
}
.ssd {
    width: 48%;
}
.terms_bl {
    width: 89%;
    height: 156px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 31px 35px 30px 35px;
}
.terms {
    overflow: scroll;
    overflow-x:hidden;
    height: 139px;
}
.treb_lil_o2 {
    width: 10px;
    height: 10px;
    background-color: #fb338b;
    border-radius: 50%;
    margin-right: 15px;
}
.posl {
    width: 100%;
}
.posl_bl{
    overflow: scroll;
    overflow-x: hidden;
    height: 250px;
}
.posl12{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 31px 35px 30px 35px;
}
.last {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, #6958ad 0%, #487eab 100%);
}
.last_wrap {
    width: 100%;
    margin: auto;
    padding: 90px 0 0 0;
}
.navigation__logo_name_bl {
    margin: auto;
    width: 275px;
}
.navigation__logo_name {
    width: 275px;
    display: flex;
    align-items: center;
}
.navigation__logo {
    display: inline-block;
    width: 59px;
    height: 67px;
    margin-right: 5px;
}
.navigation_main_text {
    width: 208px;
    display: inline-block;
    height: auto;
}
.navigation_main_text1 {
    display: block;
    width: 208px;
    height: auto;

    color: #ffffff;
    font-family: 'Rubik';
    font-size: 27px;
}
.navigation_main_text2 {
    display: block;
    color: #ffffffff;
    font-family: "Rubik - Medium";
    font-size: 13.9px;
    letter-spacing: 1.31px;
    text-transform: uppercase;
}
.btn_navigation_bl1 {
    margin: auto;
    width: 260px;
    padding: 30px 0 25px 0;
}
.btn_navigation1 {
    display: flex;
    width: 260px;
    top: -23px;
    position: relative;
    height: 43px;
    background: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.ff {
    display: flex;
    width: 200px;
    align-items: center;
    margin: auto;
}
.btn_navigation_txt {
    width: 178px;
    height: 14px;
    color: #ffffff;
    font-family: 'Rubik';
}
.line_last {
    height: 1px;
    background-color: #ffffff;
    opacity: 0.2;
}
.last_txt {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 17px 0 15px 0;
}
.box44{
    display: none;
}
@media screen and (max-width: 1335px) {
    /* .trebov_bloks {
        display: block;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 0 40px 0;
    } */
  }
@media screen and (max-width: 1280px) {
    .bnt_txt {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        font-family: "Rubik";
        font-size: 13px;
        font-weight: 500;
        margin: auto;
        width: 177px;
        text-align: center;
        line-height: 32px;
        text-transform: uppercase;
    }
    .btn_accept_clr {
        cursor: pointer;
        margin-bottom: 44px;
        display: flex;
        width: 300px;
        height: 50px;
        border-radius: 4px;
        background-image: linear-gradient(to top, #c40a5d 0%, #fb338c 100%);
    }
    .btn_accept{
        width: 300px;
    }
    .slaid {
        display: block;
        margin: auto;
        width: 320px;
    }
    .calc_cum {
        width: 300px;
        display: flex;
        height: 40px;
        margin: auto;
        background-color: #ffffff;
        margin-bottom: 0px;
        padding: 0 10px 10px 10px;
    }
  }
  @media screen and (max-width: 1100px) {
    .btn_accept {
        width: 300px;
        display: none;
    }
    .arrowBtn {
        display: flex;
        top: -30px;
        width: 45%;
        justify-content: space-between;
        position: relative;
        align-items: baseline;
    }
    
  }
  @media screen and (max-width: 1100px) {
    .star {
        font-size: 8px;
        width: 8px;
        padding: 0 0 0 6px;
        color: #f4d501;
        margin-right: 3px;
    }
    .stars {
        width: 100%;
        height: 17px;
        display: flex;
    }
    .box_logo_stars_block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    .box_logo_block_img {
        width: 133px;
        height: 79px;
    }
    .main_part_bottom_summ {
        width: 120px;
    }
    .main_part_bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: auto;
        width: 90%;
    }
    .main_part_top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: auto;
        width: 90%;
    }
    .main_part_top_back_txt {
        width: 100%;
        color: #000000;
        font-family: "Rubik";
        font-size: 13px;
        font-weight: 300;
    }
    .main_part_top_prozents_txt{
        width: 100%;
        color: #000000;
        font-family: "Rubik";
        font-size: 13px;
        font-weight: 300;
    }
    .main_part_top_summ_txt{
        width: 100%;
        color: #000000;
        font-family: "Rubik";
        font-size: 13px;
        font-weight: 300;
    }
    .main_part_top_summ {
        width: 100px;
    }
    .main_part_bottom_summ{
        width: 110px;
    }
    .main_part_bottom_summ_numb {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        font-family: "Rubik";
        line-height: 25px;
    }
    .main_part_bottom_summ_txt {
        width: 115px;
        color: #000000;
        font-family: "Rubik";
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 300;
        margin-top: 5px;
    }
    .last_block_proz_box {
        display: flex;
        width: 53px;
        height: 53px;
        align-items: center;
        border-radius: 50%;
        background-image: linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
    }
    .img_bl_box{
        width: 133px;
        height: 52px;
    }
  }
  @media screen and (max-width: 1064px) {
    .treb_bl {
        width: 91%;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
    }
    .trebov_bloks {
        display: block;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 0 40px 0;
    }
    .treb {
        width: 100%;
    }
    .terms_bl {
        width: 90%;
        height: 156px;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
    }
    .ssd {
        width: 100%;
    }
  }
  @media screen and (max-width: 860px) {
    .arrowBtn {
        display: flex;
        top: -30px;
        width: 55%;
        justify-content: space-between;
        position: relative;
        align-items: baseline;
    }
    .blockcCalc_txt {
        font-family: "Rubik";
        font-size: 24px;
        font-weight: 0;
        color: #fff;
        opacity: 0.65;
    }
    .arrowBtn{
        display: none;
    }
    .back-arrow{
        display: none;
    }
    .best{
        margin: auto;
    padding: 700px 10% 91px 10%;
    display: block;
    }
    .d {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2%;
    }
    .treb_h1 {
        color: #000000;
        font-family: "Rubik";
        font-size: 18px;
        width: 100%;
        font-weight: 400;
        text-transform: uppercase;
        padding: 50px 0 25px 0;
        margin-left: 35px;
    }
  }
  @media screen and (max-width: 812px) {
    .items_bl_txt_bl_img{
        margin-right: 10px;
        height: 20px;
    }
    .box44{
        display: block;
    }
    .box{
        display: none;
    }
    .box1{
        margin-bottom: 0;
        width: 332px;
        margin: auto;
        padding: 10px 0 10px 0;
    }
    .fastCreditDiv {
        width: 332px;
        border-radius: 50px;
        background: #fa338b;
        height: 3px;
        top: 1px;
        display: flex;
        position: relative;
        margin: auto;
        align-items: center;
    }
  }
  @media screen and (max-width: 755px) {
    .last_block_txt {
        color: #5e65ac;
        font-family: "Rubik";
        font-size: 14px;
    }
  }
  @media screen and (max-width: 735px) {
    .bnt_txt {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        font-family: "Rubik";
        font-size: 10px;
        font-weight: 500;
        margin: auto;
        width: 177px;
        text-align: center;
        line-height: 32px;
        text-transform: uppercase;
    }
    .image {
        width: 100%;
        height: 600px;
        background-image: url(images/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .calc_bl1 {
        display: flex;
        margin: auto;
        width: 320px;
    }
    .calc_items {
        display: block;
        justify-content: space-between;
        padding: 5% 0 0 0;
    }
    .items_bl1 {
        top: 143px;
        position: relative;
    }
    .itms {
        width: 80%;
        margin: auto;
        top: 100px;
        margin-bottom: 50px;
        position: relative;
    }
    .blockcCalc_txt {
        font-family: "Rubik";
        font-size: 24px;
        color: #fff;
        opacity: 0.65;
        line-height: 30px;
    }
  }

.box44 {
    width: 320px;
    margin: auto;
    border-radius: 3px;
    border: 1px solid #dadada;
    padding: 5px;
}
.box3 {
    display: flex;
    justify-content: space-between;
}
.box_logo_stars_block1 {
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: auto;
    position: relative;
    left: 150px;
    top: -20px;
}
.last_block_txt_box1 {
    display: flex;
    width: 100px;
    align-items: center;
}
.last_block_txt {
}
.main_part1 {
    margin-bottom: 20px;
}

.main_part_bottom1 {
    display: block;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    width: 100%;
}
.main_part_bottom_summ1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_part_bottom_summ_numb1 {
    width: 30%;
    font-size: 15px;
    font-weight: 400;
    font-family: "Rubik";
    line-height: 25px;
}
@media screen and (max-width: 620px) {
    .recoment_main {
        padding: 60px 0 0 0;
        width: 70%;
        margin: auto;
    }
    .recoment_maintxt {
        color: #ffffff;
        width: 100%;
        font-family: "Rubik";
        font-size: 20px;
        font-weight: 500;
        margin: auto;
        text-align: center;
    }
    .time_rec {
        display: block;
        justify-content: space-between;
        align-items: baseline;
        width: 60%;
        margin: auto;
        padding: 30px 0 0 0;
    }
    .time_rec {
        display: block;
        justify-content: space-between;
        align-items: baseline;
        width: 95%;
        margin: auto;
        padding: 30px 0 0 0;
    }
    .best__back {
        width: 61px;
        height: 61px;
        box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 50%;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__back-img {
        background-image: url(images/Фигура_25lil.png);
        width: 29px;
        height: 32px;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__back-img2 {
        background-image: url(images/Фигура_26lil.png);
        width: 35px;
        height: 35px;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__back-img3 {
        background-image: url(images/Фигура_27lil.png);
        width: 36px;
        height: 26px;
        display: flex;
        opacity: 1;
        margin: auto;
        align-items: center;
    }
    .best__blocks_miniblick-text {
        width: 173px;
        height: 43px;
        color: #000000;
        font-family: "Rubik";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
    }
    .best__blocks_miniblick {
        width: 100px;
    }
    .best__blocks_miniblick-text {
        width: 100%;
        height: 43px;
        color: #000000;
        font-family: "Rubik";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
    }
    .best__text-h1 {
        text-align: center;
        font-size: 19px;
        font-family: "Rubik";
        margin: auto;
        margin-top: 30px;
    }
    .best {
        margin: auto;
        padding: 700px 10% 21px 10%;
        display: block;
    }
    .time_rec1 {
        height: 23px;
        color: #ffffff;
        font-family: "Rubik";
        font-size: 15px;
        font-weight: 500;
    }
  }
  @media screen and (max-width: 470px) {
    .last_block_txt {
        color: #5e65ac;
        font-family: "Rubik";
        font-size: 14px;
    }
    .blockcCalc_txt {
        font-family: "Rubik";
        font-size: 18px;
        color: #fff;
        opacity: 0.65;
        line-height: 30px;
    }
    .blockcCalc_h1 {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 22px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .terms_bl {
        width: 75%;
        height: 156px;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
    }
    .treb_bl {
        width: 75%;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 31px 35px 30px 35px;
    }
    .itms {
            width: 80%;
    margin: auto;
    top: 150px;
    margin-bottom: 140px;
    position: relative;

    }
    .items_bl1 {
        top: 193px;
        position: relative;
    }
    .image {
        width: 100%;
        height: 650px;
        background-image: url(images/shutterstock_331742222-min.png), linear-gradient(-30deg, #7950ac 0%, #4577be 50%, #1ba8d7 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
  }